#readme {
  counter-reset: h2;
}

#readme h2 {
  counter-reset: h3;
}

#readme h3 {
  counter-reset: h4;
}

#readme h4 {
  counter-reset: h5;
}

#readme h5 {
  counter-reset: h6;
}

#readme article h2::before {
  display: inline;

  counter-increment: h2;
  content: counter(h2);

  margin-right: 0.5em;
}

#readme article h3::before {
  display: inline;

  counter-increment: h3;
  content: counter(h2) "." counter(h3);

  margin-right: 0.5em;
}

#readme article h4::before {
  display: inline;

  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4);

  margin-right: 0.5em;
}

#readme article h5::before {
  display: inline;

  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);

  margin-right: 0.5em;
}

#readme article h6::before {
  display: inline;

  counter-increment: h6;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "."
    counter(h6);

  margin-right: 0.5em;
}
